In [25]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
import matplotlib as mpl
from collections import Counter
import matplotlib.patches as mpatches
import plotly.plotly as py
sns.set_style("white")

In [7]:
plt.rcParams['axes.labelsize']=16.
plt.rcParams['xtick.labelsize']=14.
plt.rcParams['ytick.labelsize']=14.
plt.rcParams['legend.fontsize']=12.
plt.rcParams['figure.figsize']=[15.,6.]

In [89]:
battles=pd.read_csv('C://Users/DELL/Anaconda3/Datasets/Game-of-Thrones-Dataset/battles.csv')
character_deaths=pd.read_csv('C://Users/DELL/Anaconda3/Datasets/Game-of-Thrones-Dataset/character-deaths.csv')
character_predictions=pd.read_csv('C://Users/DELL/Anaconda3/Datasets/Game-of-Thrones-Dataset/character-predictions.csv')

In [90]:
battles.head()

,name,year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_3,attacker_4,defender_1,...,major_death,major_capture,attacker_size,defender_size,attacker_commander,defender_commander,summer,location,region,note
0,Battle of the Golden Tooth,298,1,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Tully,...,1.0,0.0,15000.0,4000.0,Jaime Lannister,"Clement Piper, Vance",1.0,Golden Tooth,The Westerlands,NaN
1,Battle at the Mummer's Ford,298,2,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Baratheon,...,1.0,0.0,NaN,120.0,Gregor Clegane,Beric Dondarrion,1.0,Mummer's Ford,The Riverlands,NaN
2,Battle of Riverrun,298,3,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Tully,...,0.0,1.0,15000.0,10000.0,"Jaime Lannister, Andros Brax","Edmure Tully, Tytos Blackwood",1.0,Riverrun,The Riverlands,NaN
3,Battle of the Green Fork,298,4,Robb Stark,Joffrey/Tommen Baratheon,Stark,NaN,NaN,NaN,Lannister,...,1.0,1.0,18000.0,20000.0,"Roose Bolton, Wylis Manderly, Medger Cerwyn, H...","Tywin Lannister, Gregor Clegane, Kevan Lannist...",1.0,Green Fork,The Riverlands,NaN
4,Battle of the Whispering Wood,298,5,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,NaN,NaN,Lannister,...,1.0,1.0,1875.0,6000.0,"Robb Stark, Brynden Tully",Jaime Lannister,1.0,Whispering Wood,The Riverlands,NaN

In [91]:
battles.loc[:,'defenderSize']=4-battles[['defender_1','defender_2','defender_3','defender_4']].isnull().sum(axis=1)

In [92]:
battles.loc[:,'attackerSize']=4-battles[['attacker_1','attacker_2','attacker_3','attacker_4']].isnull().sum(axis=1)

In [93]:
battles[['defenderSize','attackerSize']].head()

   defenderSize  attackerSize
0             1             1
1             1             1
2             1             1
3             1             1
4             1             2

In [94]:
for _ in battles['attacker_commander']:
    if(pd.isnull(_)):
        print ('gotcha')

gotcha

In [107]:
#battles['attacker_commander']=battles['attacker_commander'].fillna('')
#battles['attacker_commander']=battles['attacker_commander']
battles.loc[:,'att_comm_count']=[len(x.split(',')) if pd.isnull(x)!=True else 0  for x in battles['attacker_commander']]

In [108]:
character_deaths.head(1)

,Name,Allegiances,Death Year,Book of Death,Death Chapter,Book Intro Chapter,Gender,Nobility,GoT,CoK,SoS,FfC,DwD
0,Addam Marbrand,Lannister,NaN,NaN,NaN,56.0,1,1,1,1,1,1,0

In [113]:
#character_predictions[[x for x in character_predictions.columns if x.startswith('book')]].sum(axis=1)
character_predictions.columns

Index(['S.No', 'actual', 'pred', 'alive', 'plod', 'name', 'title', 'male',
       'culture', 'dateOfBirth', 'DateoFdeath', 'mother', 'father', 'heir',
       'house', 'spouse', 'book1', 'book2', 'book3', 'book4', 'book5',
       'isAliveMother', 'isAliveFather', 'isAliveHeir', 'isAliveSpouse',
       'isMarried', 'isNoble', 'age', 'numDeadRelations', 'boolDeadRelations',
       'isPopular', 'popularity', 'isAlive'],
      dtype='object')

In [126]:
character_predictions.loc[:,'no_of_books']character_predictions[['book1','book2','book3','book4','book5']].sum(axis=1)

0       0
1       5
2       1
3       0
4       1
5       0
6       0
7       0
8       1
9       0
10      2
11      1
12      0
13      0
14      0
15      1
16      1
17      0
18      1
19      1
20      2
21      0
22      1
23      1
24      0
25      1
26      1
27      2
28      1
29      1
       ..
1916    5
1917    3
1918    5
1919    4
1920    4
1921    3
1922    2
1923    4
1924    4
1925    4
1926    1
1927    5
1928    2
1929    1
1930    5
1931    1
1932    1
1933    1
1934    0
1935    1
1936    5
1937    3
1938    1
1939    1
1940    0
1941    5
1942    3
1943    5
1944    3
1945    3
dtype: int64

In [124]:
[1,2,3,4].sum(axis=1)

AttributeError: 'list' object has no attribute 'sum'